.modal-user {
    .content-body {
        .red {
            color: red;
        }
    }
}

.manager-users-container {
    .fa-arrows-rotate,
    .fa-circle-plus {
        padding-right: 7px;
    }
    .action {
        .refresh {
            margin-right: 10px;
        }
    }
    .user-body {
        .fa-pen-to-square {
            color: white;
        }
    }
}